.centered{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

#toptopmenu{
    padding:10px 0px 10px 0px;
    text-align:right;
    border-bottom: 1px solid rgba(163, 163, 163, 0.37) !important;

}

#topmenu{
    padding:10px 0px 10px 0px;
    text-align:right;
    border-bottom: 1px solid rgba(163, 163, 163, 0.37) !important;

}

#topmenu:hover a, #topmenu:hover{
    color: orangered;
}

.wew:focus{
    outline: none;
}
.wew:active{
    outline:none;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.295) !important;
    color: rgba(255, 255, 255,0.5) !important;
}

button{
    background-color:  rgba(255, 255, 255, 0.3);
    border: 1px solid ;
    border-radius: 5px;
}

@media(max-width:768px){
    #banner{
        height:200px !important;
    }
}
.div {  
    max-height: 70%;  
    max-width: 70%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.moi{
    padding-right:1%;
    padding-left:1%;
    -webkit-transition:  1s; /* For Safari 3.1 to 6.0 */
    transition:  1s;
}
.moi:hover{
    background:rgba(0, 0, 0, 0.815) !important;
    
}