.centered{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}
button{
    background-color:  rgba(255, 255, 255, 0.3);
    border: 1px solid ;
    border-radius: 5px;
}
button:hover{
    background-color: #bdbdbd !important;
    color: rgba(255, 255, 255, 0.5) !important;
}
button:focus{
    outline: none;
}
button:active{
    outline:none;
}