.noborder{
    border:0px;
}
.image-upload > input{
    display:none
}

.inputtype{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left:0px;
    font-size: 20px;
    border-bottom:1px solid #bdbdbd;
    color:black !important;
    background-color:rgba(255, 255, 255, 0) !important;
}
.inputtype:focus{
    outline:none;
}
#drag img{
 width: 300px
}
button{
    background-color:  rgba(255, 255, 255, 0.3);
    border: 1px solid ;
    border-radius: 5px;
}
button:hover{
    background-color: #bdbdbd !important;
    color: rgba(255, 255, 255, 0.5) !important;
}
/* input[type=file]{

        background-color:  rgba(255, 255, 255, 0.3);
    border: 1px solid ;
    border-radius: 5px;
    font-weight: normal;
    padding-right: 5px;
    padding-left:5px;
} */

/* .inputfile{
    width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden; position: absolute; z-index: -1;
}

.inputfile + label {
    background-color:  rgba(255, 255, 255, 0.3);
    border: 1px solid ;
    border-radius: 5px;
    font-weight: normal;
    padding-right: 5px;
    padding-left:5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #bdbdbd !important;
    color: rgba(255, 255, 255, 0.5) !important;
}
.inputfile + label {
    cursor: pointer; */
     /* "hand" cursor */
/* }
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
} */